<% include partials/header.ejs %>
<br>

<div class="container">
    <div class="row">
        <% blogs.forEach(function(blog) { %>
        <div class="col-4">
            <div class="card mb-3" style="width:100%;">
                <img class="card-img-top" src="<%= blog.imagem %>">
                <div class="card-body">
                    <h5 class="card-title"><%= blog.titulo %></h5>
                    <p class="card-text"><%= blog.descricao.substring(0, 100) %>...</p>
                    <div class="text-center">
                        <a href="/blogs/<%= blog._id %>" class="btn btn-primary">Ver</a>
                    </div>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>

<% include partials/footer.ejs %>