<% include partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <form class="mt-4" action="/blogs" method="POST">
                <div class="form-group">
                    <label for="tituloBlog">Título</label>
                    <input type="text" class="form-control" name="blog[titulo]" id="tituloBlog" placeholder="Título">
                </div>
                <div class="form-group">
                    <label for="urlImagem">Url da imagem</label>
                    <input type="text" class="form-control" name="blog[imagem]" id="urlImagem" placeholder="URL da imagem">
                </div>
                <div class="form-group">
                    <label for="descricaoBlog">Descrição</label>
                    <textarea class="form-control" name="blog[descricao]" id="descricaoBlog" rows="5"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>